body
{
background-color: aqua;
}
h5{
    font-size: 26px;
}
h1{
    font-size: 26px;
}
h2{
    font-size: 26px;
}
h3{
    font-size: 26px;
}
h4{
    font-size: 26px;
}
h6{
    font-size: 26px;;
}
h7{
    font-size: 26px;;
}
h8{
    font-size: 26px;;
}
h9{
    font-size: 26px;;
}